*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/letrero.jpg);
    background-size: cover;
    font-family: 'Rubik Dirt', cursive;
}

.cont-head{
    height: 50vh;
    background-image: url(../images/tiendatorr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cont-design{
    background-color: #FFFBF5;
}

.cont-team{
    background-color: #F7EFE5;
}

.cont-app{
    background-color: #C3ACD0;
}

.cont-menu{
    background-color: #674188;
}

.cont-cards{
    background-color: #301E67;
}


.img-blog {
    transition: transform .5s;
}

.img-blog:hover{
    transform: scale(1.1);
}

.card {
    background-color: #F2CD5C;
    transition: transform .5s;
}

.card:hover{
    transform: scale(1.1);
}

.mainForm{
    height: 85vh;
}

#aDomicilio{
    background-image: url(../images/the-fitzgerald-9-1623685479.jpeg);
    
}

#dreamteam{
    background-image: url(../images/dreamteam.jpg);
    background-position: center;
}

#cocaham{
    background-image: url(../images/cocaham.jpg);
    background-position: center;

}

#tiendamad{
    background-image: url(../images/tiendamad.jpg);
    background-position: center;

}
.card-image{
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}